{{ partial "header.html" . }}
<div class="page-metadata">
  <ul>
    <li>Laatste aanpassing: {{ .Lastmod.Format "02/01/06 15:04" }}</li>
    {{ with .Params.tentoonstellingen }}
      {{ range first 1 . }}
        {{ with $.Site.GetPage (printf "/tentoonstellingen/%s" .) }}
        <li>Tentoonstelling: <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ with .Params.experiences }}
      {{ range first 1 . }}
        {{ with $.Site.GetPage (printf "/experiences/%s" .) }}
        <li>Experience: <a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if isset .Params "unid" }}
    <li>Asset: <a target=_blank href='https://naturalis.topdesk.net/tas/secure/contained/assetmgmt/card.html?action=edit&unid={{ .Params.unid }}'>{{ .Params.unid }}</a></li>
    {{ end }}
    {{ if isset .Params "unid" }}
    <li>Chatops: <a target=_blank
        href='https://chat.naturalis.io/museum/channels/{{ .Title }}'>@{{ .Title }}</a></li>
    {{ end }}
  </ul>
</div>
{{ .Content }}
<ul>
{{ range .Page.Sections.ByTitle }}
<li>
  <a href="{{.Permalink}}">{{.Title}}</a>
</li>
{{end}}
</ul>
{{ partial "footer.html" . }}
