{{ partial "header.html" . }}
<div class="page-metadata">
  <ul>
    <li>Laatste aanpassing: {{ .Lastmod.Format "02/01/06 15:04" }}</li>
  </ul>
</div>
{{ .Content }}
{{ range .Data.Pages }}
{{end}}
</ul>
{{ partial "footer.html" . }}
